.flex-parent {
  max-height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 450px;
  justify-content: space-between;

  align-items: center;
  align-content: stretch;
}

.flex-child {
  justify-content: center;
  height: 200px;
  min-width: 250px;
  background-color: red;
  border-color: black;
  border-width: 5px;
  margin: 10px;
}

.header {
  float: left;
  clear: none;
  width: 100%;
  padding-bottom: 60px;
}

.page-with-border {
  min-width: 450px;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: #f6e7e7;
}

/* .image-container {
  position: relative;
  height: 350px;
  text-align: center;
  background-color: #f6e7e7;
  margin: 60px;
} */

.image-component {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.title {
  float: left;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgb(246, 231, 231);
  opacity: 0;
  z-index: 50;
}

.titl-below {
  float: left;

  width: 100%;
  height: 100%;

  background-color: rgb(246, 231, 231);
  opacity: 0;
  z-index: 50;
}

.component-image {
  margin-left: auto;
  margin-right: auto;
  width: 97%;
}

.image-component-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 30%;
  margin: auto;
}

.image-component-text-below {
  position: absolute;
  margin-left: auto;
  width: 100%;
  height: 30%;
  margin: auto;
}

.image-component-vertical-container {
  position: relative;
}

.image-container-square {
}

.background {
  background-color: #f9f5f4;
  padding: 10px;
  padding-top: 72px;
}

.t1 {
  font-size: 70;
}

.t2 {
  font-size: 50;
}

.t3 {
  font-size: 40;
}

.t4 {
  font-size: 35;
}

.t5 {
  font-size: 25;
}
.smallBox {
  width: 30%;
}

.gg {
  top: 0px;
  width: 40;
  font-family: EksellDisplay-Stencil;
  font-size: 130px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: left;
  color: #2c8efe;
}
.cv {
  width: 50%;
  font-family: InknutAntiqua;

  font-size: 20px;
  text-align: right;
  color: #2c8efe;
}

.left {
  min-width: 225;
  width: 50%;
  float: left;
  flex-grow: 1;
  align-items: center;
}
.right {
  min-width: 225;
  width: 50%;
  float: right;
  flex-grow: 1;
  align-items: center;
}

.specialize {
  min-width: 372px;
  /* height: 300px; */
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-style: Light;
  font-size: 33px;

  color: #2c8efe;
}

.reduce-height {
  height: 50px;
}
.specialize-text {
  min-width: 372px;
  text-align: left;
}
.asdf {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}
.pad-top {
  padding-top: 60px;
  max-width: 1050px;
}

.logo {
  width: 154px;
}

.hero {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-style: Light;
  /* font-family: FreightDispProBold; */
  font-size: 53px;
  line-height: 1.43;
  text-align: left;
  color: #2c8efe;
}
.hero-center {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-style: Light;
  /* font-family: FreightDispProBold; */
  font-size: 53px;
  line-height: 1.43;
  text-align: center;
  color: #2c8efe;
}
.subText {
  width: 100%;
  padding: 5px;
  font-family: RobotoMono;
  font-size: 20px;
  text-align: center;
  color: #2c8efe;
  min-width: 313px;
}

.subText-2 {
  width: 100%;
  padding: 5px;
  font-family: RobotoMono;
  font-size: 20px;
  text-align: left;
  color: #2c8efe;
  min-width: 313px;
}

.h1 {
  align-self: center;
  position: relative;
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-style: Light;
  font-size: 35px;
  text-align: center;
  color: #2c8efe;
  min-width: 313px;
}

.h3 {
  align-self: center;
  position: relative;
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-style: Light;
  font-size: 30px;
  text-align: center;
  color: #2c8efe;
  min-width: 313px;
}

.h1-2 {
  align-self: center;
  position: relative;
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-style: Light;
  font-size: 25;
  text-align: left;
  color: #2c8efe;
}

.h2 {
  position: relative;
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-style: Light;
  font-size: 35px;
  text-align: center;
  color: #2c8efe;
  min-width: 313px;
}

.bfa {
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding-bottom: 20px;
  font-size: 20px;
  text-align: left;
  color: #2c8efe;
}
.case-study {
  padding: 20px;
  padding-bottom: 80px;
  text-decoration: none;
  font-family: RobotoMono;
  font-size: 16px;
  letter-spacing: normal;
  text-align: center;
  color: #2c8efe;
}

.href2 {
  text-decoration: none;
}

#top,
#bottom,
#left,
#right {
  background: #f6e7e7;
  position: fixed;
  z-index: 1000;
}
#left,
#right {
  top: 0;
  bottom: 0;
  width: 15px;
}
#left {
  left: 0;
}
#right {
  right: 0;
}

#top,
#bottom {
  left: 0;
  right: 0;
  height: 15px;
}
#top {
  top: 0;
}
#bottom {
  bottom: 0;
}

.story .edu .hero .horizontal-flexbox .cv .email {
  width: 100%;
}
.email {
  padding-top: 120px;
  padding-bottom: 60px;
  text-align: left;
  font-family: "Roboto", sans-serif;
}
.email2 {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.edu {
  padding-top: 60px;
}

.large-images {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.cv-right {
  padding-right: 15px;
  width: 50%;
  float: right;
}
.cv-right {
  padding-right: 15px;
  width: 50%;
  float: center;
}
.gg-left {
  width: 45%;
  float: left;
  top: 0px;
}

.story {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.edu {
  height: 100px;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 */
}

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 745px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 745px) {
  .span_2_of_2,
  .span_1_of_2 {
    width: 100%;
  }
}

.cv-center {
  width: 100%;
  font-family: InknutAntiqua;

  font-size: 20px;
  text-align: center;
  color: #2c8efe;
}
